@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

::root {
  --white: #ffffff80;
  --black-rgba: rgba(0, 0, 0, .65);
  --black: #000000;
  --fs-small: .8rem;
  --fs-medium: 1rem;
  --fs-large: 1.2rem;
  --fs-xlarge: 1.4rem;
}
 *, p {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

#container .content {
  min-height: 100vh;
}


.navbar {
  z-index: 1 !important;
  background-color: rgba(255, 255, 255, .80);
  backdrop-filter: blur(.5px);
  top: 0;
}

.fa, .bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
  border-radius: 0;
}
.sidenav .nav-link {
  text-transform: capitalize;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, .65);
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }

.bg-sidenav {
  position: fixed;
  background-color: rgba(0, 0, 0, .80);
  backdrop-filter: blur(3px);
  transform: translateX(-200%);
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.bg-sidenav.show {
  animation: sidenavShow 1s linear;
  transform: translateX(0%);
}
.bg-sidenav.hide {
  animation: sidenavHide 1s linear;
  transform: translateX(-200%);
}

.pp-change {
  display: block;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  position: relative;
  border: solid 1px #000;
}
.pp-change img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.pp-change span {
  position: absolute;
  width: 2rem;
  height: 2rem;
  font-size: var(--fs-small);
  background-color: var(--white);
  border: solid 1px #000;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes sidenavShow {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes sidenavHide {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-200%);
  }
}

.nav-link i.fa {
  font-size: .8rem;
}
.dropdown-item i {
  width: .5rem;
  margin-right: 10%;
}

.list-info-profile,
.list-info-profile li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-info-profile .list i {
  font-size: var(--fs-medium);
  width: 5%;
}
.list-info-profile .list {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2%;
}

.content .post .post-title {
  font-size: var(--fs-medium);
  text-transform: capitalize;
}
.content .post .post-category {
  width: 10%;
  font-size: var(--fs-small);
  background-color: rgba(0, 0, 0, .65);
  color: var(--white);
  padding: 2.5px 10%;
  border-radius: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.content .post .post-thumbnail {
  min-height: 20vh;
  max-height: 50vh;
}
.content .post .post-description {
  max-height: 30vh;
  overflow-y: scroll;
}
.content .post .actions {
  max-height: 30vh;
  overflow-y: scroll;
}
.content .post {
  height: auto;
  overflow-y: scroll;
}
.content .post::after {
  content: ".";
  display: block;
  height: 1%;
  width: 100%;
  background-color: rgba(0, 0, 0, .65);
  font-size: .1rem;
  color: rgba(0, 0, 0, .65);
}
.setting-menu li {
  width: 100%;
}
.setting-menu li a {
  background-color: #545d5f65;
  color: var(--white);
  gap: 5%;
  transition: .4s;
}
.setting-menu li a:hover {
  background-color: rgba(0, 0, 0, .65);
  box-shadow: 5px 5px .8px #545d5f65;
}
.percentage-categories {
  display: block;
  margin: 5% 0;
}
.percentage-categories .progressbar {
  display: flex;
  border: solid 1px #000;
  border-radius: 9999px;
  overflow: hidden;
}

.percentage-categories .progressbar .progress {
  background-color: skyblue;
  padding: 0;
  border-radius: 0px;
}

/* mobile */
@media (max-width: 575.95px) {
  #container .content {
    padding: 20% 0;
  }
  .sidenav {
    width: 60%;
    height: 100%;
    position: fixed;
    transform: translateX(-200%);
    z-index: 4 !important;
    top: 0;
    left: 0;
  }
  
  .sidenav.show {
    animation: sidenavShow 1s linear;
    transform: translateX(0%);
  }
  .sidenav.hide {
    animation: sidenavHide 1s linear;
    transform: translateX(-200%);
  }
  .bg-profile {
    min-height: 30vh;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px;
    margin-bottom: 5rem;
  }
  .pp-profile {
    width: 8rem;
    height: 8rem;
    position: absolute;
    border: solid 3px #fff;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  .pp-profile .avatar {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
}
.list-online .avatar {
  width: 8rem;
  height: 20vh;
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 5px;
  overflow: hidden;
  gap: 5%;
  position: relative;
}
.list-online .avatar img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.list-online .avatar p {
  font-size: .6rem;
  text-overflow: ellipsis;
  text-align: center;
}
.list-online .avatar .info {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  background-color: #656e70;
  position: absolute;
  right: 1.6rem;
  top: 4.8rem;
}
.chat {
  max-width: 90%;
  min-width: 30%;
}
.chat .chat-content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.chat .chat-content .message {
  overflow: scroll;
  background-color: #009bff;
  color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 2% 3%;
  width: 100%;
  font-size: .8rem;
  font-family: 'Montserrat', sans-serif;
}
.chat .chat-content .author {
  font-size: .9rem;
  font-weight: 500;
  font-family: 'Anek Telugu', sans-serif;
  display: flex;
  align-items: center;
  gap: 2%;
}
.chat .chat-content .author .avatar {
  width: 2.5em;
  height: 2.5em;
  border-radius: 5px;
}
.chat .date {
  font-size: .6rem;
}
.chat.self .content .author {
  flex-direction: row-reverse;
}
.chat.self {
  /* margin-left: calc(100% - 80%);*/
  align-self: end;
  justify-content: end;
  align-items: end;
  text-align: end;
}
.chat.other {
  align-self: start;
  justify-content: start;
  align-items: start;
  text-align: start;
}

.input-field textarea {
  height: 5vh;
  max-height: 20vh;
}

#chat-form button {
  height: 40px;
}
/* tablet */
@media (min-width: 576px) {
  #container {
    margin: 10% 0;
  }
  .sidenav {
    width: 60%;
    height: 100vh;
    overflow-y: scroll;
    position: fixed;
    transform: translateX(-200%);
    z-index: 4 !important;
    top: 0;
    left: 0;
  }
  
  .sidenav.show {
    animation: sidenavShow 1s linear;
    transform: translateX(0%);
  }
  .sidenav.hide {
    animation: sidenavHide 1s linear;
    transform: translateX(-200%);
  }
  .bg-profile {
    min-height: 30vh;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px;
    margin-bottom: 5rem;
  }
  .pp-profile {
    width: 8rem;
    height: 8rem;
    position: absolute;
    border: solid 3px #fff;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  .pp-profile .avatar {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
}
/* desktop */
@media (min-width: 992px) {
  body {
    max-height: 100vh;
    overflow: hidden;
  }
  
  #container {
    margin: 0;
    max-height: 100vh;
    overflow-y: scroll;
  }
  
  #container .content {
    width: 100% !important;
  }
  .sidenav {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    z-index: 2 !important;
    transform: translateX(0%);
    top: 0;
  }
  .bg-profile {
    min-height: 50vh;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px;
    margin-bottom: 5rem;
  }
  .pp-profile {
    width: 10rem;
    height: 10rem;
    position: absolute;
    border: solid 3px #fff;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  .pp-profile .avatar {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
  .setting-menu li {
    width: 80%;
  }
}