.nav-link {
    color: white;
  }

  .head {
    height: 500px;
    align-items: center;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
  }

  .nav-link:hover {
    color: grey;
  }

  .dropdown-item {
    color: white;
  }

  .dropdown-item:hover {
    background-color: grey;
  }

  .wadah-mengetik {
    font-size: 24px;
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: ketik 5s steps(50, end);
    animation: ketik 5s steps(50, end);
  }

  @keyframes ketik {
    from {
      width: 0;
    }
  }

  @-webkit-keyframes ketik {
    from {
      width: 0;
    }
  }

  @media screen and (max-width:990px) {

    .wadah-mengetik {
      width: 320px;
    }

  }